
:root {
  background: linear-gradient(to right, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px hsl(217, 16%, 45%) solid;
  border-radius: 8px;
  padding: 6px 12px;
  width: 30vw;
}

.title {
  color: white;
}

.title > h2 {
  margin: 0;
}

.score-box {
  background-color: white;
  color: hsl(229, 25%, 31%);
  height: 100%;
  padding: 8px 16px;
  border-radius: 6px;
  width: 4vw;
}

.score-box > p {
  font-weight: 600;
  margin: 0;
  text-align: center;
  font-size: small;
}

.score-box > .score {
  font-size: 36px;
}

.game-area>.paper,
.scissors,
.rock {
  background-color: white;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid transparent;
}

.paper {
  border-color: hsl(230, 89%, 61%);
}

.scissors {
  border-color: hsl(39, 89%, 49%);
}

.rock {
  border-color: hsl(349, 71%, 52%);
}

.game-area>.paper img,
.game-area>.scissors img,
.game-area>.rock img {
  width: 50%;
  height: auto;
}
